#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.Header-Container h1 {
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  padding: 4px;
}

.Header-Container img {
  position: absolute;
  right: 0;
  top: 0;
  padding: 4px 12px 4px
}