.Main-Content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.Inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Inputs label {
    margin-left: 4px;
    margin-right: 4px;
    text-align: left;
}

.Inputs div {
    margin-right: 8px;
}